body{
	background-color: white;
}

#membre{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titre{
	font-size: 30px;
	color: salmon;
	font-weight: bolder;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    width: 300px;
    margin: 40px;
	background-color: rgba(168, 168, 168, 0.664);
	border-radius: 40px;
	padding: 30px;
	z-index: 3;
}

.box p {
    flex-wrap: wrap;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box img {
    background-color: salmon;
    width: 180px;
    height: 180px;
    border-radius: 50%;
	border: 8px solid salmon;
}

#dessin{
	width: 164vh;
	height: 560px;
	position: absolute;
	top: 130px;
	border-radius: 30px;
	background-image: linear-gradient(rgba(168, 168, 168, 0.664),gray,salmon);
}
